.main-view{
    background-color: #CBCBCB;
    height: 100vh;
}

.add-button{
    background-color: #3d40be;
    border: none;
    color: white;
    padding: 15px;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.6);
}

